.svgicon {
  margin-left: 30px;
  width: 35px;
  cursor: pointer;
}

.svgicon path {
  fill: transparent;
  stroke-width: 30;
  stroke: rgb(24, 22, 22);
}

.header__directicon path {
  stroke-width: 1;
}

.header__hearticon path,
.header__homeicon path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
}

.header__hearticon:hover path,
.header__homeicon:hover path {
  animation: diamond 0.6s linear forwards;
}

@keyframes diamond {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1000;
  }
  80% {
    stroke-dashoffset: 2000;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 2000;
    fill: rgb(24, 22, 22);
  }
}
.header__directicon path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
}
.header__directicon:hover path {
  animation: direction 0.6s linear forwards;
}

@keyframes direction {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 50;
  }
  80% {
    stroke-dashoffset: 100;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 100;
    fill: rgb(24, 22, 22);
  }
}
.header__exploreicon path {
  stroke-dasharray: 1400;
  stroke-dashoffset: 0;
}

.header__exploreicon:hover path {
  animation: explore 0.6s linear forwards;
}

@keyframes explore {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 700;
  }
  80% {
    stroke-dashoffset: 1400;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 1400;
    fill: rgb(24, 22, 22);
  }
}
.noanimation path {
  fill: black;
}

.noanimation:hover path {
  fill: black;
  animation-play-state: paused;
}
